node_modules/
web/node_modules/
server/node_modules/

dist/
web/dist/

*.log
.DS_Store

server/src/data/
server/src/data/*.sqlite
server/src/data/*.sqlite-journal
server/src/data/*.sqlite-shm
server/src/data/*.sqlite-wal
